Repository drumcap/hooklabs-elite: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, components, Convex Functions, React Components, API Routes

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

flags:
  unit:
    paths:
      - __tests__/unit/
  integration:
    paths:
      - __tests__/integration/
  components:
    paths:
      - __tests__/components/
  combined:
    carryforward: true

ignore:
  - "**/*.d.ts"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/convex/_generated/**"
  - "**/test-utils/**"
  - "**/__mocks__/**"
  - "**/fixtures/**"
  - "**/*.stories.tsx"
  - "**/*.test.tsx"
  - "**/*.test.ts"
  - "**/*.spec.tsx"
  - "**/*.spec.ts"

component_management:
  default_rules:
    flag_coverage_not_uploaded_behavior: include
  individual_components:
    - component_id: convex-functions
      name: Convex Functions
      paths:
        - convex/
    - component_id: react-components
      name: React Components  
      paths:
        - components/
    - component_id: api-routes
      name: API Routes
      paths:
        - app/api/

feat: Convex 기반 엔터프라이즈급 과금 시스템 구축
  .dockerignore
  .env.example
  .github/workflows/deploy-production.yml
  Dockerfile
  Dockerfile.dev
  README.md
  app/api/health/route.ts
  config/environments.ts
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment/README.md
  docs/deployment/environment-setup.md
  docs/deployment/monitoring-guide.md
  lib/monitoring/analytics.ts
  lib/monitoring/logger.ts
  lib/monitoring/sentry.ts
  lib/security/rate-limit.ts
  middleware.ts
  next.config.ts
  package.json
  scripts/health-check.sh
Due: API Routes

docs: CLAUDE.md, README.md 에 엔터프라이즈급 결제 시스템과 테스트 인프라 추가
  CLAUDE.md
  README.md
Due: none

docs: windsurf 에 convex rules token 최적화 문서 분할
  .windsurf/rules/convex_advanced_rules.md
  .windsurf/rules/convex_core_rules.md
  .windsurf/rules/convex_database_rules.md
  .windsurf/rules/convex_examples.md
  .windsurf/rules/convex_rules.md
Due: none

feat: Next.js 15 설정 최적화 및 Clerk 에러 처리 개선
  app/layout.tsx
  bun.lock
  components/ClerkErrorBoundary.tsx
  components/ClerkLoadingWrapper.tsx
  lib/monitoring/logger.ts
  next.config.ts
  package.json
Due: React Components

feat: 결제 진행 상태 및 에러 처리 UI 개선
  components/pricing-table.tsx
Due: React Components

chore: Convex 자동 생성 파일을 gitignore에 추가
  .gitignore
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: none

refactor: 쿠폰 및 크레딧 모듈의 타입 안정성 개선 및 쿼리 로직 분리
  convex/coupons.ts
  convex/credits.ts
Due: Convex Functions

fix: 보안 취약점 수정 및 아키텍처 문서화
  app/api/secure-example/route.ts
  docs/ARCHITECTURE-CODE-ANALYSIS.md
  docs/ARCHITECTURE-REVIEW-2025.md
  docs/SECURITY-AUDIT-REPORT.md
  docs/SECURITY-CHECKLIST.md
  docs/SECURITY-IMPLEMENTATION-GUIDE.md
  lib/security-enhanced.ts
  lib/security.ts
Due: API Routes

feat: 다중 에이전트 개발 자동화 워크플로우 및 보안 감사 문서 추가
  .claude/commands/aiwf/agent-workflow.md
  .claude/commands/aiwf/aiwf_commit.md
  docs/security-audit-report.md
Due: none

fix(convex): TypeScript 오류 해결 및 누락된 auth 모듈 추가
  convex/actions/contentGeneration.ts
  convex/actions/socialPublishing.ts
  convex/aiGenerations.ts
  convex/auth.ts
  convex/optimized/socialPostsOptimized.ts
  convex/socialPosts.ts
Due: Convex Functions

docs: 빌드 검증 단계를 문서에 추가
  CLAUDE.md
Due: none

fix: Convex 백엔드 및 프론트엔드 빌드 오류 완전 해결
  app/api/metrics/route.ts
  app/api/monitoring/web-vitals/route.ts
  app/dashboard/admin/coupons/[couponId]/edit/page.tsx
  app/dashboard/admin/coupons/[couponId]/page.tsx
  app/dashboard/monitoring/page.tsx
  app/dashboard/page.tsx
  app/dashboard/social/analytics/page.tsx
  app/dashboard/social/compose/page.tsx
  app/dashboard/social/page.tsx
  app/layout.tsx
  components/PerformanceDashboard.tsx
  components/WebVitalsMonitor.tsx
  components/admin-dashboard.tsx
  components/coupons/admin/admin-coupon-dashboard.tsx
  components/coupons/shared/coupon-validation-result.tsx
  components/credit-manager.tsx
  components/social/accounts/AccountsList.tsx
  components/social/common/CreditBalance.tsx
  components/social/personas/PersonaManager.tsx
  components/social/scheduling/CalendarView.tsx
  components/social/scheduling/PostScheduler.tsx
  components/subscription-dashboard.tsx
  components/subscription-manager.tsx
  components/usage-tracker.tsx
  convex/actions/contentGeneration.ts
  convex/migrations/optimizationMigration.ts
  lib/coupon-utils.ts
  lib/security.ts
  next.config.ts
  tsconfig.build.json
  tsconfig.json
Due: Convex Functions, React Components, API Routes

fix: Convex TypeScript 오류 수정 및 타입 안전성 개선
  SECURITY_AUDIT_REPORT.md
  SECURITY_FIXES.md
  components/PerformanceDashboard.tsx
  convex/optimized/advancedPagination.ts
  convex/optimized/apiDocumentationGenerator.ts
  convex/optimized/apiResponseOptimizer.ts
  convex/optimized/batchProcessingOptimized.ts
  convex/optimized/cacheManager.ts
  convex/optimized/performanceMonitoring.ts
  convex/optimized/rateLimitingAndErrorHandling.ts
  convex/optimized/scheduledPostsOptimized.ts
  convex/scheduledPosts.ts
  convex/socialPosts.ts
  playwright-report/index.html
Due: Convex Functions, React Components

fix(convex): TypeScript 오류 대폭 개선 및 순환 참조 문제 해결
  convex/actions/contentGeneration.ts
  convex/actions/socialPublishing.ts
  convex/aiGenerations.ts
  convex/auth.ts
  convex/http.ts
  convex/migrations/optimizationMigration.ts
  convex/optimized/apiResponseOptimizer.ts
  convex/optimized/cacheManager.ts
  convex/optimized/externalApiOptimizer.ts
  convex/optimized/realtimeOptimized.ts
  convex/optimized/scheduledPostsOptimized.ts
  convex/optimized/socialPostsOptimized.ts
  convex/socialPosts.ts
Due: Convex Functions

fix(convex): TypeScript 오류 대폭 개선 및 순환 참조 문제 해결
  convex/alerting.ts
  convex/cron.ts
  convex/cron/scheduledTasks.ts
  convex/migrations/optimizationMigration.ts
  convex/optimized/advancedPagination.ts
  convex/optimized/apiDocumentationGenerator.ts
  convex/optimized/apiResponseOptimizer.ts
  convex/optimized/batchProcessingOptimized.ts
Due: Convex Functions

docs(aiwf): aiwf_commit 명령어에 한국어 커뮤니케이션 지침 추가
  .claude/commands/aiwf/aiwf_commit.md
Due: none

fix: Critical 보안 및 기능 문제 즉시 수정 완료
  convex/actions/contentGeneration.ts
  convex/actions/socialPublishing.ts
  convex/http.ts
  convex/postVariants.ts
  convex/socialAccounts.ts
  convex/socialPosts.ts
Due: Convex Functions

feat(convex): 포괄적인 오류 처리 시스템 구현
  convex/actions/contentGeneration.ts
  convex/credits.ts
  convex/http.ts
  convex/lib/errors.ts
  convex/subscriptions.ts
  convex/users.ts
Due: Convex Functions

feat(pipeline): 포괄적인 데이터 파이프라인 시스템 구현
  convex/analytics.ts
  convex/metrics.ts
  convex/notifications.ts
  convex/pipeline/eventIngestion.ts
  convex/pipeline/transformations.ts
  convex/pipeline/types.ts
  convex/schema.ts
  convex/socialMetrics.ts
  convex/usage.ts
  docs/data-pipeline-architecture.md
Due: Convex Functions

feat: API 요청 로깅 방식을 logger에서 console.log로 변경
  middleware.ts
Due: none

refactor: Redis 연결 생략 및 Clerk 관련 보안 설정 개선
  app/layout.tsx
  app/test-clerk/page.tsx
  components/MockAuthProvider.tsx
  lib/rate-limiting.ts
  lib/security.ts
Due: React Components

refactor: 순환 참조 제거를 위해 내부 함수 직접 호출 방식으로 변경
  convex/actions/socialPublishing.ts
  convex/credits.ts
  convex/lib/errors.ts
  convex/notifications.ts
  convex/pipeline/eventIngestion.ts
  convex/pipeline/events.ts
  convex/pipeline/index.ts
  convex/pipeline/storage.ts
  convex/pipeline/transformations.ts
  convex/schema.ts
  convex/socialMetrics.ts
  convex/usage.ts
Due: Convex Functions

feat(dashboard): 대시보드 통계 및 최근 활동 조회 기능 추가
  convex/analytics.ts
  convex/auth.ts
  convex/scheduledPosts.ts
  convex/socialPosts.ts
Due: Convex Functions

fix(convex): 콘텐츠 생성 플로우 문제 해결
  convex/actions/contentGeneration.ts
  convex/personas.ts
  convex/socialPosts.ts
Due: Convex Functions

fix: Convex 빌드 오류 수정 및 pipeline 모듈 제거
  bun.lock
  convex/actions/contentGeneration.ts
  convex/pipeline/eventIngestion.ts
  convex/pipeline/events.ts
  convex/pipeline/index.ts
  convex/pipeline/storage.ts
  convex/pipeline/transformations.ts
  convex/pipeline/types.ts
  convex/schema/ai.ts
  convex/schema/analytics.ts
  convex/schema/billing.ts
  convex/schema/payments.ts
  convex/schema/social.ts
  convex/schema/users.ts
  docs/ai-ml-code-review-report.md
  docs/platform-usage-guide.md
  docs/technical-debt-analysis.md
  lib/ai/llm-optimizer.ts
  lib/ai/prompt-security.ts
  lib/config/index.ts
  lib/utils/error-handler.ts
  package.json
Due: Convex Functions

fix(lib): TypeScript 컴파일 오류 해결 - JSX를 React.createElement로 변환
  lib/dynamic-imports.ts
Due: none

docs: 빌드 검증 지침 및 환경 변수 주석 추가
  CLAUDE.md
  convex/actions/contentGeneration.ts
Due: Convex Functions

chore: 성능 분석 및 도커 관련 설정 파일 제거
  .gitignore
  bundle-analysis.json
  config/.lighthouserc.js
  config/.lighthouserc.json
  config/lighthouserc.js
  infrastructure/Dockerfile.dev
  infrastructure/Dockerfile.optimized
  infrastructure/docker-compose.dev.yml
  infrastructure/docker-compose.production.yml
  infrastructure/docker-compose.yml
  tests/codecov.yml
  tests/jest.config.js
  tests/jest.setup.js
  tests/playwright.config.ts
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: none

docs: 배포 가이드 문서 통합 및 최적화
  docs/deployment/DEPLOYMENT-GUIDE.md
  docs/deployment/deployment-guide.md
Due: none

i18n: 한국어로 도구 및 워크플로우 제목 변경
  .claude/commands/tools/accessibility-audit.md
  .claude/commands/tools/code-explain.md
  .claude/commands/tools/compliance-check.md
  .claude/commands/tools/context-restore.md
  .claude/commands/tools/context-save.md
  .claude/commands/tools/cost-optimize.md
  .claude/commands/tools/data-pipeline.md
  .claude/commands/tools/data-validation.md
  .claude/commands/tools/db-migrate.md
  .claude/commands/tools/debug-trace.md
  .claude/commands/workflows/data-driven-feature.md
  .claude/commands/workflows/feature-development.md
  .claude/commands/workflows/full-review.md
  .claude/commands/workflows/full-stack-feature.md
  .claude/commands/workflows/git-workflow.md
  .claude/commands/workflows/improve-agent.md
  .claude/commands/workflows/incident-response.md
  .claude/commands/workflows/legacy-modernize.md
  .claude/commands/workflows/ml-pipeline.md
  .claude/commands/workflows/multi-platform.md
  .claude/commands/workflows/performance-optimization.md
  .claude/commands/workflows/security-hardening.md
  .claude/commands/workflows/smart-fix.md
  .claude/commands/workflows/workflow-automate.md
Due: none

feat: 컨벡스 SaaS 개발자 에이전트 프로필 추가
  .claude/agents/convex-saas-developer.md
Due: none

docs: HookLabs Elite SaaS 플랫폼의 코드 분석 보고서 추가
  docs/2025_01_12/analysis/HookLabs-Elite-Code-Analysis.md
Due: none

refactor(convex): 도메인 중심 아키텍처로 스키마 분할 및 재구성
  convex/actions/contentGeneration.ts
  convex/actions/socialPublishing.ts
  convex/ai.ts
  convex/alerting.ts
  convex/analytics.ts
  convex/auth.ts
  convex/coupons.ts
  convex/credits.ts
  convex/lib/auth.ts
  convex/lib/crud.ts
  convex/lib/encryption.ts
  convex/lib/validators.ts
  convex/optimized/batchProcessingOptimized.ts
  convex/optimized/scheduledPostsOptimized.ts
  convex/optimized/socialPostsOptimized.ts
  convex/performanceMetrics.ts
  convex/scheduledPosts.ts
  convex/schema.ts
  convex/schema/ai.ts
  convex/schema/analytics.ts
  convex/schema/auth.ts
  convex/schema/billing.ts
  convex/schema/monitoring.ts
  convex/schema/payments.ts
  convex/schema/pipeline.ts
  convex/schema/social.ts
  convex/schema_backup.ts
  convex/socialAccounts.ts
  convex/socialMetrics.ts
  convex/socialPosts.ts
  convex/usage.ts
  convex/users.ts
Due: Convex Functions
