Repository drumcap/hooklabs-elite: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, components, Convex Functions, React Components, API Routes

fix(security): Redis 호환성 문제로 인한 보안 모듈 임시 비활성화
  app/api/monitoring/web-vitals/route.ts
  app/api/secure-example/route.ts
  lib/monitoring/sentry.ts
  lib/monitoring/webVitals.ts
  lib/rate-limiting.ts
  lib/security-enhanced.ts
  lib/security-patches.ts
  lib/security.ts
  lib/security/rate-limit.ts
  lib/utils/error-handler.ts
  lib/web-vitals-monitor.ts
  middleware.ts
Due: API Routes

feat(tests): 포괄적인 테스트 인프라 구축 및 기존 테스트 개선
  convex-test-results.xml
  playwright.config.ts
  test-setup.ts
  tests/components/payment-gate.test.tsx
  tests/components/pricing-table.test.tsx
  tests/e2e/user-journey.spec.ts
  tests/integration/api.test.ts
  tests/integration/clerk-auth.test.ts
  tests/integration/webhooks.test.ts
  tests/unit/convex/coupons.test.ts
  tests/unit/convex/credits.test.ts
  tests/unit/convex/social/personas.test.ts
  tests/unit/convex/social/socialPosts.test.ts
  tests/unit/convex/socialPosts.test.ts
  tests/unit/convex/subscriptions.test.ts
  tests/unit/convex/usage.test.ts
  tests/unit/convex/users.test.ts
  tests/unit/lib/crud.test.ts
  tests/unit/lib/encryption.test.ts
  tests/unit/lib/validators.test.ts
  tests/unit/sample.test.ts
  tests/utils/convex-test-helpers.ts
  tests/utils/mock-data.ts
  tests/utils/test-helpers.ts
  tests/vitest.config.ts
  vitest.config.ts
Due: none

feat(frontend): UI 컴포넌트 개선 및 스키마 분할 대응 업데이트
  app/dashboard/monitoring/page.tsx
  app/dashboard/social/compose/page.tsx
  components/admin-dashboard.tsx
  components/coupons/admin/admin-coupon-form.tsx
  components/credit-manager.tsx
  components/enhanced-pricing-table.tsx
  components/monitoring/WebVitalsProvider.tsx
  components/social/accounts/AccountConnector.tsx
  components/social/accounts/AccountsList.tsx
  components/social/accounts/PublishStatus.tsx
  components/social/content/VariantGenerator.tsx
  components/social/personas/PersonaManager.tsx
  components/social/scheduling/PostScheduler.tsx
  components/social/scheduling/ScheduledPostsList.tsx
  components/subscription-dashboard.tsx
  components/usage-tracker.tsx
  hooks/use-coupon-mutations.ts
Due: React Components

chore(config): 개발 환경 설정 및 도구 업데이트
  .claude/agents/aiwf-agents/convex-saas-developer.md
  .claude/agents/convex-saas-developer.md
  .mcp.json
  bun.lock
  docs/2025_01_09/test-infrastructure-summary.md
  docs/2025_09_12/specs/DatabaseOptimizationImplementation.md
  docs/2025_09_12/specs/IndexOptimizationAnalysis.md
  docs/2025_09_12/specs/OptimizedSchemaStructure.md
  lib/ai/llm-optimizer.ts
  lib/caching-strategy.ts
  lib/config/index.ts
  lib/dynamic-imports.ts
  lib/monitoring.ts
  lib/monitoring/apiMonitoring.ts
  lib/monitoring/businessMetrics.ts
  lib/monitoring/performanceAnalyzer.ts
  package-lock.json
  package.json
Due: none

feat(security): 엔터프라이즈급 보안 시스템 구축 및 성능 최적화
  convex/coupons.ts
  convex/featureFlags.ts
  convex/lib/auth.ts
  convex/lib/encryption.ts
  convex/personas.ts
  convex/schema/auth.ts
  convex/schema/billing.ts
  convex/schema/social.ts
  convex/schema/users.ts
  convex/usage.ts
Due: Convex Functions

feat(clerk): Clerk 라이브러리 최신 버전 통일 업그레이드 및 전체 스택 구현 완료
  app/dashboard/app-sidebar.tsx
  app/dashboard/social/posts/page.tsx
  bun.lock
  components/social/content/VariantGenerator.tsx
  components/social/posts/PostDetailModal.tsx
  convex/postVariants.ts
  convex/socialPosts.ts
  docs/convex-frontend-implementation-status.md
  package-lock.json
  package.json
  types/social-posts.ts
Due: Convex Functions, React Components

fix: userAttributes 타입을 any로 변경하여 유연한 속성 접근 허용
  .mcp.json
  convex/featureFlags.ts
Due: Convex Functions

fix(auth): resolve user authentication errors and improve credits module safety
  convex/credits.ts
  convex/lib/auth.ts
Due: Convex Functions

fix(auth): comprehensive authentication error handling improvements
  convex/coupons.ts
  convex/lib/auth.ts
  convex/users.ts
Due: Convex Functions

fix: 헤더 컴포넌트의 HMR 이슈 해결을 위해 동적 임포트 적용
  app/(landing)/header.tsx
Due: none

feat: personas 테이블에 content와 tone 필드 추가
  convex/schema/social.ts
Due: Convex Functions

feat: 신규 사용자 가입 시 초기 크레딧 자동 지급 기능 추가
  app/api/admin/migrate-credits/route.ts
  convex/credits.ts
  convex/users.ts
Due: Convex Functions, API Routes

refactor: 인증 관련 로직을 AuthSection 컴포넌트로 분리
  app/(landing)/header.tsx
  components/auth-section.tsx
Due: React Components

feat: 게시물 변형 생성 기능 재활성화 및 에러 처리 추가
  app/dashboard/social/compose/page.tsx
Due: none

feat: 포괄적 UI 테스트 하네스 및 품질 보증 시스템 구축
  .eslintrc.json
  .github/workflows/test-pipeline.yml
  .lighthouserc.js
  .zap/rules.tsv
  Dockerfile.test
  app/dashboard/social/compose/page.tsx
  bun.lock
  components/social/content/VariantGenerator.tsx
  docker-compose.test.yml
  docs/testing-guide.md
  package-lock.json
  package.json
  playwright.config.advanced.ts
  tests/e2e/accessibility.spec.ts
  tests/e2e/comprehensive-ui-test.spec.ts
  tests/e2e/social-media-workflow.e2e.ts
  tests/e2e/visual-regression.spec.ts
  tests/performance/k6-load-test.js
  tests/security/security-test-suite.test.tsx
  tests/setup/auth-setup.tsx
  tests/setup/convex-setup.ts
  tests/tsconfig.json
  tests/ui-test-plan.md
  tests/ui-test-report.md
  tests/unit/components/social/VariantGenerator.test.tsx
  tsconfig.json
  vitest.config.advanced.ts
Due: React Components

feat: 포괄적인 SLO 모니터링 시스템 구현
  app/api/analytics/api-performance/route.ts
  app/api/analytics/content-generation/route.ts
  app/api/analytics/slo-status/route.ts
  app/api/analytics/web-vitals/route.ts
  app/api/webhooks/slo-alert/route.ts
  app/dashboard/slo/page.tsx
  app/layout.tsx
  bun.lock
  components/SLOMonitoringProvider.tsx
  components/dashboard/slo/ErrorBudgetChart.tsx
  components/dashboard/slo/SLODashboard.tsx
  components/dashboard/slo/SLOMetricCard.tsx
  components/dashboard/slo/SLOTrendChart.tsx
  convex/schema/slo.ts
  convex/sloTracking.ts
  docs/slo-framework.md
  monitoring/slo-monitoring.ts
  package.json
Due: Convex Functions, React Components, API Routes

fix(security): 심각한 보안 취약점 2개 수정
  .env.example
  app/api/admin/migrate-credits/route.ts
  convex/lib/encryption.ts
Due: Convex Functions, API Routes

refactor: 대규모 코드 리팩토링 - 타입 안전성 및 성능 대폭 개선
  REFACTORING_REPORT.md
  convex/credits.ts
  convex/services/CacheService.ts
  convex/services/CreditService.ts
  convex/services/SocialAccountService.ts
  convex/tests/CreditService.test.ts
  convex/types/credit.ts
  convex/types/socialAccount.ts
Due: Convex Functions

fix: 빌드 오류 수정 및 타입 안전성 개선
  app/(landing)/features-one.tsx
  components/WebVitalsMonitor.tsx
  convex/featureFlags.ts
  convex/services/SocialAccountService.ts
  convex/syncClerkUsers.ts
  convex/types/socialAccount.ts
Due: Convex Functions, React Components

Path conditions:
  unit: any of: __tests__/unit/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
  integration: any of: __tests__/integration/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
  components: any of: __tests__/components/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
  Convex Functions: any of: convex/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
  React Components: any of: components/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
  API Routes: any of: app/api/, but not: **/*.d.ts, **/*.config.js, **/*.config.ts, **/node_modules/**, **/.next/**, **/convex/_generated/**, **/test-utils/**, **/__mocks__/**, **/fixtures/**, **/*.stories.tsx, **/*.test.tsx, **/*.test.ts, **/*.spec.tsx, **/*.spec.ts
